{{>layout/header}}

<h1>회원 가입</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form id="write_form">
            <div class="form-group">
                <label for="mid">ID</label>
                <input type="text" class="form-control" id="id" placeholder="ID를 입력하세요">
            </div>
            <div class="form-group">
                <label for="passwordr">비밀번호</label>
                <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
            </div>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요"
            </div>
        </form>
        <div>
            <a href="/" role="button" class="btn btn-secondary">취소(목록으로)</a>
            <button type="button" class="btn btn-primary" id="member-btn">등록</button>
        </div>
    </div>
</div>
{{>layout/footer}}